*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;

}
body{
}
html , body{
    height:100%;
    margin:0;
}
.wrap{
    min-height:100%;
    margin-bottom: -20px;
    background:#e5eff3;
}

header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
     background: url("../img/header.jpg") top;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius:0px 0px 10px 10px;
}
nav{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    position:relative;

}
nav .icon{
    margin: 6px 4px;
}
.icon i{
    color:#858585;
}
.icon i:hover{
    color:#e8e8e8;
}
nav ul {
    display:flex;
    flex-wrap:wrap;
}
nav ul li{
    text-align:center;  
    list-style:none;
    margin: 0px 20px;
    padding: 0px 5px;
}
nav ul li a{
    text-decoration:none;
    color:#a7a7a7;
    font-weight:bold;

}
nav ul li a:hover{
    color:#e8e8e8;
}

/* the end of nav bar */
/* ------------------------ */
/* the start of forms*/

footer , .push{
    height: 40px;
}

.forms{
    display:flex;
    flex-wrap:wrap;
    margin-right: 4px;
    justify-content:center;
    align-items:center;
}
.forms form{
    margin: 0px 4px; 
}
.forms form input{
    height:30px;
    width:150px;
    margin: 0px 2px;
    text-align:center;
    border:none;
    border-left: 6px black solid ;
    border-radius:4px;
    background: #f1f3f5; 
}
.forms form input:focus{
    background: snow;
}

.forms form button{
    width:80px;
    height:27px;
    border:none;
    border-radius: 4px;
    cursor:pointer;
    background:#858585;
    color:snow;
}
.b1:hover{
    background: #25b15d;
}
.b2:hover{
    background:#9c3c3c;
}
.signup-b{
    text-decoration:none;
    margin: 0px 5px;
    color: #e8e8e8;
}
.signup-b:hover{
    color: #4baed4;

}
/* the end of forms */
/*------------------------*/
/*the start of main*/
.msg{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2.5%;
}
.in ,.notuser{
    width: 300px;
    text-align:center;
    padding: 6px 15px;
    border-radius: 4px;
    border-bottom:2px solid black;

}
.in , .notuser{
    background:#f1f3f5;
    color: #332929;
    font-weight: bold;
}
.notuser{
    margin-top:10px;

}
/* the end of main */
/* ------------------------ */
/* the start of footer */

footer{
    height:20px;
}
footer{
    width:100%;
    display:flex;
    justify-content:center;
    background: url("../img/header.jpg") bottom;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius:10px 10px 0px 0px;
}
footer p{
    color:#e8e8e8;
}
/*the end of footer*/
/*-----------signup page-------------*/
/*the start of signup form*/
.signup-page{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
}
.f-signup{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:480px;
    border-bottom: 4px solid #7f868887;
    border-top: 4px solid #7f868887;
    border-right: 4px solid #7f868887;
    background:white;
    margin: 2% 1.5% 0% 1.5%;
    border-radius: 0px 10px 10px 0px;
}
.f-signup form{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
    width:65%;
   margin:30px 0px;
}
.f-signup form *{
    margin: 4% 0%;
    font-weight:bold;
}
.f-signup form input{
    border:none;
    border-radius:5px;
    background:#e8e8e8;
    border-bottom: 5px solid #858585;
    height: 35px;
    width:100%;
    text-align:center;
    font-weight:bold;
    color:#3b3b3b;
}
.f-signup form input:hover{
    background:#cfcfcf;
    border-bottom: 4px solid #e8e8e8;
}
.f-signup form input:focus{
    background: snow;
    color:black;
    border-bottom: 5px solid #e8e8e8;

}
.f-signup form button{
    width:80px;
    height:35px;
    border:none;
    border-radius:4px;
    background:#858585;
    cursor:pointer;
    color:#e8e8e8;
     border-bottom: 4px solid #858585;
     margin-top: 15px;

}
.f-signup form button:hover{
    color: snow;
    background:#111111;
    border-bottom: 4px solid #e8e8e8;
}
.f-signup label{
    margin:0px;
    height:0px;
    color:#cc1313a6;
  }
#v-submit p{
    color: #25b15d;
}
 .hint{
   width:100%;
   display:flex;
   flex-wrap:wrap;
   justify-content:space-between;
   align-items:center;
   flex-direction:column;
 }
/*the end of signup page */
/*------------------------*/
/* the start of content */
.p-content{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    margin-left:10px;
    color:#858585;
}
.p-content i{
    margin-left:10px;
}
.p-content p{
    font-size:30px;
    font-weight:bold;
}
/* the end of content */
/* -------------------*/
/* responsive classes */
